.CartItems {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.NoProducts {
    height: 50px;
    margin: 0 auto;
    padding: 12px 10px 10px 20px;
    border: 1px solid #cccccc;
    color: #888888;
}

.NoProductsLarge {
    width: 553px;
}

.NoProductsMedium {
    width: 553px;
}

.NoProductsSmall {
    width: 449px;
}

.NoProductsExtraSmall {
    width: 300px;
}