.ItemDetails {
    /*box-shadow: 5px 5px 10px #aaaaaa;*/
    
    
    
    background-color: #ffffff;
    
}

.ItemDetailsLarge {
    grid-column: 2;
    padding: 20px;
    min-height: 415px;
    width: 100%;
}

.ItemDetailsMedium {
    grid-column: 1;
    padding: 20px;
    min-height: 400px;
    width: 600px;
    margin: 0 auto;
}

.ItemDetailsSmall {
    grid-column: 1;
    padding: 20px;
    max-width: 600px;
    min-height: 415px;
    margin: 0 auto;
}

.ItemDetailsExtraSmall {
    grid-column: 1;
    padding: 20px 20px 0px 20px;
    min-height: 415px;
    margin: 0 auto;
}

.ItemName {
    font-weight: bold;
    font-size: 1.3rem;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.Quantity {
    padding-left: 84px;
    margin-bottom: 5px;
}

.QtyLabel {
    margin-right: 5px;
    font-size: 0.9rem;
}

.QtyInput {
    width: 50px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 9px;
}

.Price {
    padding-left: 5px;
}

.PriceNum {
    font-weight: bold;
    font-size: 1.1rem;
    grid-column: 1;
}

.BuyItNowBtn {
    border: none;
    background-color: #5251a5;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 2;    
}

.BuyItNowBtnLarge {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.BuyItNowBtnMedium {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.BuyItNowBtnSmall {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.BuyItNowBtnExtraSmall {
    height: 37px;
    width: 100px;
    font-size: 1rem;
}

.AddToCartBtn {
    border: none;
    background-color: #7c7bc7;
    color: white;
    font-weight: bold;
    
    border-radius: 5px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    grid-column: 2;
}

.AddToCartBtnLarge {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.AddToCartBtnMedium {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.AddToCartBtnSmall {
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
}

.AddToCartBtnExtraSmall {
    height: 37px;
    width: 100px;
    font-size: 1rem;
}

.BuySection {
    background-color: #ffdcc7;
    border-radius: 8px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 110px;
}

.BuySectionLarge {
    padding-left: 100px;
}

.BuySectionMedium {
    padding-left: 100px;
}

.BuySectionSmall {
    padding-left: 60px;
}

.BuySectionExtraSmall {
    padding-left: 20px;
}

.Shipping {
    margin-top: 10px;
    height: 20px;
    font-size: 0.9rem;
}

.ShippingLarge {
    padding-left: 84px;
}

.ShippingMedium {
    padding-left: 84px;
}

.ShippingSmall {
    padding-left: 84px;
}

.ShippingExtraSmall {
    padding-left: 40px;
}

.Delivery {
    margin-top: 10px;
    height: 40px;
    padding-left: 90px;
    font-size: 0.9rem;
    border-bottom: 1px solid #cccccc;
}

.DeliveryLarge {
    padding-left: 84px;
}

.DeliveryMedium {
    padding-left: 84px;
}

.DeliverySmall {
    padding-left: 84px;
}

.DeliveryExtraSmall {
    padding-left: 40px;
    padding-bottom: 60px;
}

.DeliveryDate {
    font-weight: bold;
}

.Description {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
}
