.ItemShow {
    display: grid;
    grid-row-gap: 40px;
    max-width: 1100px;
    margin: 100px auto;
}

.ItemShowLarge {
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 20px;
    grid-template-rows: auto;
}

.ItemShowMedium {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.ItemShowSmall {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.ItemShowExtraSmall {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}