.Logo {
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.LogoImgLarge {
    height: 100%;
}

.LogoImgSmall {
    height: 70%;
    margin-top: 7px;
}

.LogoImgExtraSmall {
    display: none;
}